<script setup>
import {ref} from 'vue';

const listItems = ref([]);

async function getData() {
  const res = await fetch("http://localhost:8080/api/offers");
  const finalRes = await res.json();
  listItems.value = finalRes;
}
getData()

</script>

<template>

  <div>
    <h1> Liste des utilisateurs </h1>
    <table border="1">
      <thead>
      <tr>
        <th scope="col">Intitule</th>
        <th scope="col">Type</th>
        <th scope="col">Prix</th>
        <th scope="col">Organisation</th>
        <th scope="col">Recruteur Prénom</th>
        <th scope="col">Recruteur Nom</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in listItems">
        <td>{{ item.intitule }}</td>
        <td>{{ item.offre_type }}</td>
        <td>{{ item.prix }}€</td>
        <td>{{ item.organization_name }}</td>
        <td>{{ item.recruiter_prenom }}</td>
        <td>{{ item.recruiter_nom }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</template>
