<div class="col-md-9">
    <h2>Ajouter Offre</h2>

    <form action="/add_offer" method="POST" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="intitule">Intitulé</label>
            <input type="text" class="form-control" id="intitule" name="intitule" value="">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="offre_type">Type d'offre</label>
            <select class="form-control" id="offre_type" name="offre_type">
                <option value="Temps Plein">Temps Plein</option>
                <option value="Temps Partiel">Temps Partiel</option>
                <option value="Interim">Interim</option>
                <option value="Stage">Stage</option>
            </select>
        </div>
        <div class="form-group">
            <label for="etat">État</label>
            <select class="form-control" id="etat" name="etat">
                <option value="non publiée">Non publiée</option>
                <option value="publiée">Publiée</option>
                <option value="expirée">Expirée</option>
            </select>
        </div>
        <div class="form-group">
            <label for="prix">Prix</label>
            <input type="number" class="form-control" id="prix" name="prix" step="0.01" value="">
        </div>
        <div class="form-group">
            <label for="creation">Date de création</label>
            <input type="date" class="form-control" id="creation" name="creation" value="">
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
    </form>
</div>

<script>

    function validateForm() {
        // Get form input values
        const intitule = document.getElementById('intitule').value.trim();
        const description = document.getElementById('description').value.trim();
        const offreType = document.getElementById('offre_type').value;
        const etat = document.getElementById('etat').value;
        const prix = parseFloat(document.getElementById('prix').value);
        const creation = document.getElementById('creation').value;

        // Perform validation
        if (intitule === '') {
            alert('Veuillez saisir un intitulé');
            return false;
        }

        if (description === '') {
            alert('Veuillez saisir une description');
            return false;
        }

        if (offreType === '') {
            alert('Veuillez sélectionner un type d\'offre');
            return false;
        }

        if (etat === '') {
            alert('Veuillez sélectionner un état');
            return false;
        }

        if (isNaN(prix) || prix <= 0 || !Number.isInteger(prix * 100) || prix > 99999999.99) {
            alert('Veuillez saisir un prix valide');
            return false;
        }

        if (creation === '') {
            alert('Veuillez sélectionner une date de création');
            return false;
        }

        // Form is valid
        return true;
    }


    <% function formatDate(dateString) {
        const date = new Date(dateString);
        const year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    } %>
</script>

