<!-- FIXME: WIP -->
<body>
<table border>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Offer</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% users.forEach((user)=> { %>
        <tr>
            <td>
                <%= user.prenom %>
            </td>
            <td>
                <%= user.nom %>
            </td>
            <td>
                <%= user.mail %>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
</body>