<div class="col-md-9">
    <h2>Modifier l'organisation</h2>

    <form action="/update_orga?orgaID=<%= orga.id %>" method="POST" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" value="<%= orga.nom %>">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"><%= orga.description %></textarea>
        </div>
        <div class="form-group">
            <label for="siren">SIREN</label>
            <textarea class="form-control" id="siren" name="siren"><%= orga.siren %></textarea>
        </div>
        <div class="form-group">
            <label for="siege">Siège Social</label>
            <textarea class="form-control" id="siege" name="siege"><%= orga.siege_social %></textarea>
        </div>
        <div class="form-group">
            <label for="type">Type d'organisation</label>
            <select class="form-control" id="type" name="type">
                <option value="Association" <% if (orga.type === 'Association') { %>selected<% } %>>Association</option>
                <option value="Eurl" <% if (orga.type === 'Eurl') { %>selected<% } %>>Eurl</option>
                <option value="Sarl" <% if (orga.type === 'Sarl') { %>selected<% } %>>Sarl</option>
                <option value="SASU" <% if (orga.type === 'SASU') { %>selected<% } %>>SASU</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
    </form>
</div>

<script>

    function validateForm() {
        // Get form input values
        const nom = document.getElementById('nom').value.trim();
        const description = document.getElementById('description').value.trim();
        const siren = document.getElementById('siren').value.trim();
        const siege = document.getElementById('siege').value.trim();
        const type = document.getElementById('type').value;

        // Perform validation
        if (nom === '') {
            alert('Veuillez saisir un nom');
            return false;
        }

        if (description === '') {
            alert('Veuillez saisir une description');
            return false;
        }

        if (siren === '') {
            alert('Veuillez saisir un numéro SIREN');
            return false;
        }

        if (siege === '') {
            alert('Veuillez saisir un siège social');
            return false;
        }
        if (type === '') {
            alert('Veuillez sélectionner un type d\'organisation');
            return false;
        }

        // Form is valid
        return true;
    }


</script>

