<div class="col-md-9">
    <h3><%= orga.nom %></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Numéro</th>
            <th scope="col">Email</th>
            <th scope="col">Ville</th>
            <th scope="col">Pays</th>
        </tr>
        </thead>
        <tbody>
        <% recruteurs.forEach((recruteur) => { %>
            <tr>
                <th scope="row"><%= recruteur.id %></th>
                <td><a href="/user/<%= recruteur.id %>"> <%= recruteur.nom %> </a> </td>
                <td><a href="/user/<%= recruteur.id %>"> <%= recruteur.prenom %> </a> </td>
                <td><%= recruteur.numero %></td>
                <td>
                    <a href="mailto:<%= recruteur.mail %>"><%= recruteur.mail %></a>
                </td>
                <td><%= recruteur.ville %></td>
                <td><%= recruteur.pays %></td>
                </td>
                <td>
                    <form action="demands/delete?recruteurID=<%= recruteur.id %>" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                    <form action="demands/accept?recruteurID=<%= recruteur.id %>" method="POST">
                        <button type="submit" class="btn btn-info btn-sm">Accepter</button>
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% if (totalItems > pageSize) { %>
        <nav aria-label="Pagination">
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage - 1 %>">Précédent</a>
                    </li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <% if (currentPage === i) { %>active<% } %>">
                        <a class="page-link" href="?pageNB=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage + 1 %>">Suivant</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    <% } %>
</div>
