<div class="col-md-9">
    <h3><%= offre.intitule %></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Numéro</th>
            <th scope="col">Email</th>
            <th scope="col">Ville</th>
            <th scope="col">Pays</th>
            <th scope="col"></th>
            <th scope="col">Documents</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < candidates.length; i++) { %>
            <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><a href="/user/<%= candidates[i].candidat_id %>"> <%= candidates[i].nom %> </a> </td>
                <td><a href="/user/<%= candidates[i].candidat_id %>"> <%= candidates[i].prenom %> </a> </td>
                <td><%= candidates[i].numero %></td>
                <td>
                    <a href="mailto:<%= candidates[i].mail %>"><%= candidates[i].mail %></a>
                </td>
                <td><%= candidates[i].ville %></td>
                <td><%= candidates[i].pays %></td>

                <td>
                    <% if (candidates[i].cv) { %>
                        <a href="data:application/pdf;base64,<%= candidates[i].cv.toString('base64') %>" class="btn btn-primary" target="_blank" download="CV_<%= candidates[i].nom %>_<%= candidates[i].prenom %>">CV</a>
                    <% } %>
                </td>
                <td>
                    <% if (candidates[i].lettre_motivation) { %>
                            <a href="data:application/pdf;base64,<%= candidates[i].lettre_motivation.toString('base64') %>" class="btn btn-primary" target="_blank" download="Lettre_de_motivation_<%= candidates[i].nom %>_<%= candidates[i].prenom %>">Motivation</a>
                    <% } %>
                </td>
                <td>
                    <% if (candidates[i].autre_fichier) { %>
                            <a href="data:application/pdf;base64,<%= candidates[i].autre_fichier.toString('base64') %>" class="btn btn-primary" target="_blank" download="Autre_<%= candidates[i].nom %>_<%= candidates[i].prenom %>">Autre</a>
                    <% } %>
                </td>
<!--                TODO do we implement this @nico -->
<!--                <td>-->
<!--                    <button type="button" class="btn btn-success btn-sm">Accepter</button>-->
<!--                    <button type="button" class="btn btn-danger btn-sm">Rejeter</button>-->
<!--                </td>-->
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
