<div class="col-md-9">
    <h3>Mes offres</h3>

    <% offres.forEach((offre) => { %>
        <div class="card mb-3 w-100">
            <div class="card-body">
                <h5 class="card-title"><%= offre.intitule %></h5>
                <p class="card-text"><%= offre.description %></p>
                <p class="card-text">Type: <%= offre.offre_type %></p>
                <p class="card-text">État: <%= offre.etat %></p>
                <p class="card-text">Prix: <%= offre.prix %>€</p>
                <p class="card-text">Création: <%= offre.creation.toDateString() %></p>
                <!-- Ajoutez ici d'autres informations de l'offre que vous souhaitez afficher -->
                <!-- Button to edit the offer -->
                <a href="edit?offerID=<%= offre.id %>" class="btn btn-primary edit_button_<%= offre.id %>">Modifier</a>
                <!-- Button to delete the offer -->
                <a href="delete?offerID=<%= offre.id %>" class="btn btn-primary delete_button_<%= offre.id %>">Supprimer</a>
                <!-- Button to show the candidates -->
                <a href="show?offerID=<%= offre.id %>" class="btn btn-primary show_button_<%= offre.id %>">Afficher les candidatures</a>
            </div>
        </div>
    <% }) %>

    <% if (totalItems > pageSize) { %>
        <nav aria-label="Pagination">
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage - 1 %>">Précédent</a>
                    </li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <% if (currentPage === i) { %>active<% } %>">
                        <a class="page-link" href="?pageNB=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage + 1 %>">Suivant</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    <% } %>
</div>