<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head', {title:'Page Administrateur'}); %>
</head>

<body>

<header>
    <%- include('../partials/header', {subtitle:'Admin'});  %>
</header>

<nav>
    <%- include('../partials/navbar', {isAdmin:isAdmin, isRecruteur:isRecruteur});  %>
</nav>

<main>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-3">
                <h3>Menu</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/offers">Offres</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/users">Utilisateurs</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/orgas">Organisations</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/requests">Liste des offres</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/demands">Demandes de rejoindre une organisation</a>
                    </li>
                </ul>
            </div>
            <% switch (content) {
            case 'offers' : %>
            <%- include('../partials/admin/job_table'); %>
            <% break;

            case 'users' : %>
            <%- include('../partials/admin/user_table'); %>
            <% break;

            case 'orgas' : %>
            <%- include('../partials/admin/orga_table'); %>
            <% break;

            case 'demands' : %>
            <%- include('../partials/admin/demands_table.ejs'); %>
            <% break;
            } %>

        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
