<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head', {title:'Candidater'}); %>
</head>

<body>

<header>
    <%- include('../partials/header', {subtitle:'Candidater à une offre'}); %>
</header>
<nav>
    <%- include('../partials/navbar', {isAdmin:isAdmin, isRecruteur:isRecruteur}); %>
</nav>

<main>
    <div class="container mt-5">
        <div class="text-center">
            <p>Vous souhaitez consulter les offres disponibles? <a href="/offres">Voir les offres</a></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card-body">
                    <h5 class="card-title"><%= Offre.intitule %></h5>
                    <p class="card-text"><%= Offre.description %></p>
                    <p class="card-text">Type: <%= Offre.offre_type %></p>
                    <p class="card-text">Prix: <%= Offre.prix %>€</p>
                    <p class="card-text">Création: <%= Offre.creation.toDateString() %></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Candidature
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/submit_candidature?offreID=<%= Offre.id %>" onsubmit="return validateForm()" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="contenu">Contenu*</label>
                                <textarea class="form-control" id="contenu" name="contenu" maxlength="255" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="cv">CV</label>
                                <input type="file" class="form-control" id="cv" name="cv" accept=".pdf" onchange="validateFileSize(this, 5)">
                                <small class="text-muted">5Mo max</small>
                            </div>
                            <div class="form-group">
                                <label for="lettre_motivation">Lettre de motivation</label>
                                <input type="file" class="form-control" id="lettre_motivation" name="lettre_motivation" accept=".pdf" onchange="validateFileSize(this, 5)">
                                <small class="text-muted">5Mo max</small>
                            </div>
                            <div class="form-group">
                                <label for="autre_fichier">Autre fichier</label>
                                <input type="file" class="form-control" id="autre_fichier" name="autre_fichier" accept=".pdf" onchange="validateFileSize(this, 5)">
                                <small class="text-muted">5Mo max</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Soumettre la candidature</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function validateFileSize(input, maxSizeInMB) {
        if (input.files && input.files[0]) {
            var fileSizeInBytes = input.files[0].size;
            var maxSizeInBytes = maxSizeInMB * 1024 * 1024; // Convert MB to bytes

            if (fileSizeInBytes > maxSizeInBytes) {
                alert('File size exceeds the maximum limit of ' + maxSizeInMB + 'MB');
                input.value = ''; // Clear the file input
            }
        }
    }

    function validateForm(event) {
        event.preventDefault(); // Prevent form submission

        var form = event.target; // Get the form element

        // Create a new FormData object
        var formData = new FormData(form);

        // Get the file inputs
        var cvInput = document.getElementById('cv');
        var lettreMotivationInput = document.getElementById('lettre_motivation');
        var autreFichierInput = document.getElementById('autre_fichier');

        // Append the file blobs to the FormData object
        formData.append('cv', cvInput.files[0]);
        formData.append('lettre_motivation', lettreMotivationInput.files[0]);
        formData.append('autre_fichier', autreFichierInput.files[0]);

        // Get the value of the "contenu" textarea
        var contenuInput = document.getElementById('contenu');
        var contenuValue = contenuInput.value;

        // Append the "contenu" value to the FormData object
        formData.append('contenu', contenuValue);

        // Send the form data to the server
        fetch('/submit_candidature', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                // Handle the response
                // ...
            })
            .catch(error => {
                // Handle errors
                // ...
            });
    }

</script>