<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head', {title:'Accueil'}); %>
</head>

<body>

<header>
    <%- include('../partials/header', {subtitle:'Accueil'}); %>
</header>
<nav>
    <%- include('../partials/navbar', {isAdmin:isAdmin, isRecruteur:isRecruteur}); %>
</nav>

<main>
    <% if (errorCode == 1) { %>
        <div class="alert alert-danger">Vous ne pouvez pas soumettre une candidature pour votre propre offre.</div>
    <% } else if (errorCode == 2) { %>
        <div class="alert alert-danger">Vous avez déjà soumis une candidature pour cette offre.</div>
    <% } else if (errorCode == 3) { %>
        <div class="alert alert-success">Votre candidature a été envoyée avec succès.</div>
    <% } %>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-3">
                <h3>Filtrer par :</h3>
                <div class="form-group">
                    <label for="job-type">Type de travail :</label>
                    <select class="form-control" id="job-type">
                        <option id="0" <% if(jobType === '0') { %>selected
                                <% } %>
                        >Tout
                        </option>
                        <option id="1" <% if(jobType === '1') { %>selected
                                <% } %>
                        >Temps Plein
                        </option>
                        <option id="2" <% if(jobType === '2') { %>selected
                                <% } %>
                        >Temps Partiel
                        </option>
                        <option id="3" <% if(jobType === '3') { %>selected
                                <% } %>
                        >Intérim
                        </option>
                        <option id="4" <% if(jobType === '4') { %>selected
                                <% } %>
                        >Stage
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="salary-range">Fourchette de salaire :</label>
                    <div id="slider-outer-div">
                        <div id="slider-max-label" class="slider-label"></div>
                        <div id="slider-min-label" class="slider-label"></div>
                        <div id="slider-div">
                            <input id="ex2" type="text" data-slider-min="0" data-slider-step="1000"
                                   data-slider-max="150000" data-slider-value="[<%= salaryMin %>,<%= salaryMax %>]"
                                   data-slider-tooltip="hide"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-3">
                    <h3>Offres</h3>
                    <% Offres.forEach((offre) => { %>
                        <div class="card mb-3 w-100">
                            <a href="/candidate?offerID=<%=offre.id%>" style="text-decoration: none; color: inherit;">
                                <div class="card-body">
                                    <h5 class="card-title"><%= offre.intitule %></h5>
                                    <p class="card-text"><%= offre.description %></p>
                                    <p class="card-text">Type: <%= offre.offre_type %></p>
                                    <p class="card-text">Prix: <%= offre.prix %>€</p>
                                    <p class="card-text">Création: <%= offre.creation.toDateString() %></p>
                                    <div class="card-footer">
                                        <small class="text-muted" style="float: left;">Organisation
                                            - <%= offre.organization_name %></small>
                                        <small class="text-muted" style="float: right;">Recruteur
                                            - <%= offre.recruiter_prenom %> <%= offre.recruiter_nom %></small>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <!-- Add any other information you want to display for the offer -->
                                </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="col-md-3">
                <label for="sort-by"><h3>Trier par :</h3></label>
                <div class="form-group">
                    <select class="form-control" id="sort-by">
                        <option id="0" <% if(sortBy === '0') { %>selected
                                <% } %>
                        >Nouvelles
                        </option>
                        <option id="1" <% if(sortBy === '1') { %>selected
                                <% } %>
                        >Anciennes
                        </option>
                        <option id="2" <% if(sortBy === '2') { %>selected
                                <% } %>
                        >Salaire (croissant)
                        </option>
                        <option id="3" <% if(sortBy === '3') { %>selected
                                <% } %>
                        >Salaire (décroissant)
                        </option>
                    </select>
                    <label for="value-select">Numéro de page :</label>
                    <select class="form-control" id="value-select">
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <option <% if(currentPage == i) { %>selected
                                    <% } %>
                                    id="<%= i %>" value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                    <div class="form-group">
                        <button class="btn mb-3 btn-primary" id="apply-changes">Appliquer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<script>

    let minValue;
    let maxValue;

    const setLabel = (lbl, val) => {
        const label = $(`#slider-${lbl}-label`);
        label.text(val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '€');
        const slider = $(`#slider-div .${lbl}-slider-handle`);
        const rect = slider[0].getBoundingClientRect();
        label.offset({
            top: rect.top - 30 + "px",
            left: rect.left
        });
    }

    const setLabels = (values) => {
        setLabel("min", values[0]);
        minValue = values[0];
        setLabel("max", values[1]);
        maxValue = values[1];
    }

    $('#ex2').slider().on('slide', function (ev) {
        setLabels(ev.value);
    });

    setLabels($('#ex2').attr("data-value").split(","));

    document.addEventListener('DOMContentLoaded', function () {
        const applyChangesButton = document.getElementById('apply-changes');
        applyChangesButton.addEventListener('click', function () {
            const sortBy_v = document.getElementById('sort-by');
            const sortBy = sortBy_v.options[sortBy_v.selectedIndex].id;
            const jobType_v = document.getElementById('job-type');
            const jobType = jobType_v.options[jobType_v.selectedIndex].id;

            const pageNB_v = document.getElementById('value-select');
            const pageNB = pageNB_v.options[pageNB_v.selectedIndex].id;

            // Construct the query parameters
            const queryParams = [];

            if (sortBy !== '0') {
                queryParams.push('sortBy=' + sortBy);
            }

            if (jobType !== '0') {
                queryParams.push('jobType=' + jobType);
            }

            if (minValue !== '0') {
                queryParams.push('salaryMin=' + minValue);
            }

            if (maxValue !== '150000') {
                queryParams.push('salaryMax=' + maxValue);
            }

            if (pageNB !== '1' && pageNB > '0') {
                queryParams.push('pageNB=' + pageNB);
            }

            // Construct the final query string
            const queryString = '/home' + (queryParams.length > 0 ? '?' + queryParams.join('&') : '');

            // Call the callback function here
            window.location.href = queryString;
        });

    });
</script>

<style>
    /* Custom CSS to change color on hover */
    .card-body:hover {
        background-color: #f8f9fa; /* Change to your desired hover color */
        cursor: pointer;
    }
</style>

