<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head', {title:'Page de connexion'}); %>
</head>

<body>

<header>
    <%- include('../partials/header', {subtitle:'Connexion'});  %>
</header>

<main>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Connexion
                    </div>
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="username" class="form-label">Adresse e-mail</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <% if (typeof message !== 'undefined') { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= message %>
                                </div>
                            <% } %>
                            <button type="submit" id="enter" class="btn btn-primary">Se connecter</button>
                        </form>
                        <div class="mt-3">
                            <p>Vous n'avez pas de compte ? <a href="/signup">Inscrivez-vous</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
