<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head', {title:'Organisations'}); %>
</head>

<body>

<header>
    <%- include('../partials/header', {subtitle:'Organisations'}); %>
</header>
<nav>
    <%- include('../partials/navbar', {isAdmin:isAdmin, isRecruteur:isRecruteur}); %>
</nav>

<main>
    <% if (errorCode == 1) { %>
        <div class="alert alert-danger">Vous avez déjà demandé à rejoindre cette organisation.</div>
    <% } else if (errorCode == 2) { %>
        <div class="alert alert-success">Votre demande de rejoindre cette organisation a été envoyée avec succès.</div>
    <% } %>
    <div class="container my-4">
        <div class="row">
        </div>
        <div class="col-md-6">
            <div class="row mb-3">
                <h3>Organisations</h3>
                <% orgas.forEach((orga) => { %>
                    <div class="card mb-3 w-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= orga.nom %></h5>
                            <p class="card-text">Siren: <%= orga.siren %></p>
                            <p class="card-text">Siège social: <%= orga.siege_social %></p>
                            <p class="card-text">Description: <%= orga.description %></p>
                            <p class="card-text">Type: <%= orga.type %></p>
                            <form action="organisations/new?orgaID=<%= orga.id%>" method="POST">
                                <button type="submit" class="btn btn-info btn-sm">Rejoindre</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<style>
    /* Custom CSS to change color on hover */
    .card-body:hover {
        background-color: #f8f9fa; /* Change to your desired hover color */
        cursor: pointer;
    }
</style>

