<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head', {title:'Page Recruteur'}); %>
</head>

<body>

<header>
    <%- include('../partials/header', {subtitle:'Recruteur'});  %>
</header>

<nav>
    <%- include('../partials/navbar', {isAdmin:isAdmin, isRecruteur:isRecruteur});  %>
</nav>

<main>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-3">
                <h3>Menu</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/recruiter/offers">Mes offres</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/recruiter/demands">Demandes des recruteurs</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/recruiter/orga">Mon organisation</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/recruiter/add">Ajouter une offre</a>
                    </li>
                </ul>
            </div>
            <% if (subPageType === 'offers') { %>
                <%- include('../partials/recruiter/list_offres', {offres:offres});  %>
            <% } else if (subPageType === 'edit') { %>
                <%- include('../partials/recruiter/edit_offre', {offre:offre});  %>
            <% } else if (subPageType === 'show') { %>
                <%- include('../partials/recruiter/list_candidates', {offre:offre, candidates:candidates});  %>
            <% } else if (subPageType === 'orga') { %>
                <%- include('../partials/recruiter/edit_orga', {orga:orga});  %>
            <% } else if (subPageType === 'add') { %>
                <%- include('../partials/recruiter/add_offre');  %>
            <% } else if (subPageType === 'demands') { %>
            <%- include('../partials/recruiter/list_demands');  %>
            <% } %>


        </div>
    </div>
</main>

<!--            UNUSED BUT PRETTY
                <div class="col-md-9">
                <h3>Mes candidats</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Offre</th>
                        <th scope="col">État</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>John Doe</td>
                        <td>john.doe@example.com</td>
                        <td>Développeur Web</td>
                        <td>En attente</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm">Accepter</button>
                            <button type="button" class="btn btn-danger btn-sm">Rejeter</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Rei Ayanami</td>
                        <td>rei.ayanami@eva.com</td>
                        <td>Pilote d'Eva</td>
                        <td>En attente</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm">Accepter</button>
                            <button type="button" class="btn btn-danger btn-sm">Rejeter</button>
                        </td>
                    </tr>
                </table>
            </div>
-->

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
