<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title:'User Page'}); %>
</head>

<body>

<header>
    <%- include('../partials/header', {subtitle:'User'});  %>
</header>

<nav>
    <%- include('../partials/navbar', {isAdmin:isAdmin, isRecruteur:isRecruteur});  %>
</nav>

<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h2><%= current_user.prenom %> <%= current_user.nom %></h2>
                    <ul class="nav nav-pills flex-column">
                        <% if (current_user.id !== session_user.id) { %>
                            <% if (current_user.facebook) { %>
                                <li class="nav-item">
                                    <a class="nav-link active" href="https://www.facebook.com/<%= current_user.facebook %>">Facebook</a>
                                </li>
                            <% } %>
                            <% if (current_user.twitter) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://twitter.com/<%= current_user.twitter %>">Twitter</a>
                                </li>
                            <% } %>
                            <% if (current_user.instagram) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.instagram.com/<%= current_user.instagram %>">Instagram</a>
                                </li>
                            <% } %>
                            <% if (current_user.linkedin) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.linkedin.com/in/<%= current_user.linkedin %>">LinkedIn</a>
                                </li>
                            <% } %>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="?showProfile=">Afficher le profil</a>
                        </li>
                    <% } %>
                </ul>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <% if (current_user.id !== session_user.id) { %>
                    <h2>Description</h2>
                    <h5><%= current_user.description %></h5>
                <% } else { %>
                    <h2>Éditer le profile</h2>

                    <form action="/update_user" method="POST" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="firstName">Prénom</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value="<%= current_user.prenom %>">
                            <small id="firstNameError" class="form-text text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Nom</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value="<%= current_user.nom %>">
                            <small id="lastNameError" class="form-text text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="numero">Numéro de téléphone</label>
                            <input type="text" class="form-control" id="numero" name="numero" value="<%= current_user.numero %>">
                            <small id="numeroError" class="form-text text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="<%= current_user.mail %>">
                            <small id="emailError" class="form-text text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description"><%= current_user.description %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="ville">Ville</label>
                            <input type="text" class="form-control" id="ville" name="ville" value="<%= current_user.ville %>">
                        </div>
                        <div class="form-group">
                            <label for="pays">Pays</label>
                            <input type="text" class="form-control" id="pays" name="pays" value="<%= current_user.pays %>">
                        </div>
                        <div class="form-group">
                            <label for="facebook">Facebook</label>
                            <input type="text" class="form-control" id="facebook" name="facebook" value="<%= current_user.facebook %>">
                        </div>
                        <div class="form-group">
                            <label for="twitter">Twitter</label>
                            <input type="text" class="form-control" id="twitter" name="twitter" value="<%= current_user.twitter %>">
                        </div>
                        <div class="form-group">
                            <label for="instagram">Instagram</label>
                            <input type="text" class="form-control" id="instagram" name="instagram" value="<%= current_user.instagram %>">
                        </div>
                        <div class="form-group">
                            <label for="linkedin">LinkedIn</label>
                            <input type="text" class="form-control" id="linkedin" name="linkedin" value="<%= current_user.linkedin %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Sauvegarder les paramètres</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>

<script>
    function validateForm() {
        const firstName = document.getElementById("firstName").value.trim();
        const lastName = document.getElementById("lastName").value.trim();
        const phoneNumber = document.getElementById("numero").value.trim();
        const email = document.getElementById("email").value.trim();

        // Retrieve and validate other form input values as needed

        // Perform input validation checks
        clearErrorMessages();

        if (firstName === "") {
            displayErrorMessage("firstNameError", "Veuillez entrer un prénom valide.");
            return false;
        }

        if (lastName === "") {
            displayErrorMessage("lastNameError", "Veuillez entrer un nom valide.");
            return false;
        }

        if (phoneNumber === "") {
            displayErrorMessage("numeroError", "Veuillez entrer un numéro de téléphone valide.");
            return false;
        }

        // Valider le format de l'email
        const emailRegex = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
        if (email === "" || !emailRegex.test(email)) {
            displayErrorMessage("emailError", "Veuillez entrer une adresse email valide.");
            return false;
        }

        // Perform additional validation checks for other form inputs as needed

        // If all validation checks pass, allow form submission
        return true;
    }
    function displayErrorMessage(id, message) {
        const errorElement = document.getElementById(id);
        errorElement.textContent = message;
    }

    function clearErrorMessages() {
        const errorElements = document.querySelectorAll(".text-danger");
        errorElements.forEach((element) => {
            element.textContent = "";
        });
    }
</script>

</html>