<div class="col-md-9">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Mail</th>
            <th scope="col">Organisation</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <% demands.forEach((demand) => { %>
            <tr>
                <td><%= demand.demande_id%></td>
                <td><%= demand.utilisateur_nom %></td>
                <td><%= demand.utilisateur_prenom %></td>
                <td><%= demand.utilisateur_mail %></td>
                <td><%= demand.organisation_nom %></td>
                </td>
                <td>
                    <form action="demands/delete?userID=<%= demand.utilisateur_id %>" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% if (totalItems > pageSize) { %>
        <nav aria-label="Pagination">
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage - 1 %>">Précédent</a>
                    </li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <% if (currentPage === i) { %>active<% } %>">
                        <a class="page-link" href="?pageNB=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage + 1 %>">Suivant</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    <% } %>
</div>
