<div class="col-md-9">
    <h3>Utilisateurs</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach((user)=> { %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.prenom %>
                </td>
                <td>
                    <%= user.nom %>
                </td>
                <td>
                    <%= user.mail %>
                </td>
                <td>
                    <form action="users/delete?userID=<%= user.id %>" method="POST">
                        <button  class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% if (totalItems > pageSize) { %>
        <nav aria-label="Pagination">
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage - 1 %>">Précédent</a>
                    </li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <% if (currentPage === i) { %>active<% } %>">
                        <a class="page-link" href="?pageNB=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="?pageNB=<%= currentPage + 1 %>">Suivant</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    <% } %>
</div>