<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head', {title: 'Page d\'accueil'}); %>
</head>

<body>

<header>
  <%- include('partials/header', {subtitle: 'Accueil'});  %>
</header>

<main>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            Bienvenue sur la page d'accueil
          </div>
          <div class="card-body">
            <h5 class="card-title">Trouvez votre emploi de rêve</h5>
            <p class="card-text">Recherchez-vous des opportunités de carrière passionnantes ? <br> Notre site de recrutement offre une plateforme aux chercheurs d'emploi pour explorer un large éventail d'offres d'emploi dans divers secteurs. Que vous soyez un jeune diplômé ou un professionnel expérimenté, nous avons quelque chose pour tout le monde.</p>
            <a href="/login" class="btn btn-primary">Connexion</a>
            <a href="/signup" class="btn btn-secondary">S'inscrire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>
