<script setup>
import UsersList from './components/UsersList.vue';
import OfferList from './components/OfferList.vue'
</script>

<template>
  <header>
    <!-- ========== personalisez votre header ici ========== -->
  </header>

  <main>
    <UsersList/>
    <OfferList/>
  </main>
</template>

<style scoped>
/***** ajouter votre style css ici *****/
</style>