<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Utilisateur</a>
            </li>
            <% if (isRecruteur) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/recruiter">Recruteur</a>
                </li>
            <% } %>
            <% if (!isRecruteur) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/organisations">Organisations</a>
                </li>
            <% } %>
            <% if (isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administrateur</a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/disconnect">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>
